{
	email saidul.rajib.bd@gmail.com
}

team-sober.com {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	import /etc/caddy/upstream.conf
}

www.team-sober.com {
	redir https://team-sober.com{uri} permanent
}
